<!-- render "shared/header" -->

<div class='contents'>
  <div class='title'>
    <div class='title-contents'>
      <p class='service-title-main'>
        Mobile Service
      </p>
      <p class='service-title-main'>
        Simulation
      </p>
      <p class='service-title-sub'>
        携帯シミュレーション
      </p>
      <br>
      <p class='service-explain'>
        携帯電話の通信プランだけでなく、ECサイトやクレジットカードなど様々なサービスの利用状況も含め
      </p>
      <p class='service-explain'>
        総合的にお得な携帯プランを導き出すアプリです
      </p>
    </div>
  </div>

  <div class='main'>
    <div class='main-contents'>
      <%= link_to image_tag("phone_hands.png", class:"phone-hands") %>
        <a href='/simulations/new' class='simulation-btn'></a>
        <a href='/simulations/show' class='history-btn'></a>
    </div>
  </div>
</div>

<!-- render "shared/footer" -->