<%= render "shared/header" %>

<div class='title-contents'>
    <h2 class='service-title'>
      携帯電話料金比較サービス
    </h2>
    <p class='service-explain'>
      携帯電話の通信プランだけでなく、ECサイトやクレジットカードなど
    </p>
    <p class='service-explain'>
      様々なサービスの利用状況も含め総合的にお得な携帯プランを導き出すアプリです
    </p>
</div>

<div class='simulation-contents'>
    <p class='simulation'>
      料金シュミレーションしてみる
    </h2>
    <p class='explanation'>
      各社の料金プラン詳細を見てみる
    </p>
    <p class='history'>
      シュミレーション履歴を見てみる
    </p>
</div>