<%= render "shared/header" %>

<div class='title-contents'>
  <p class='service-explain'>
    携帯電話の通信プランだけでなく、ECサイトやクレジットカードなど様々なサービスの利用状況も含め総合的にお得な携帯プランを導き出すアプリです
  </p>
</div>

<div class='main-contents'>
  <div class='simulation-btn'>
    <div class='simulation1'>
      料金シュミレーション
    </div>
    <p class='simulation2'>
      してみる
    </p>
  </div>
  <div class='explanation-btn'>
    <p class='explanation1'>
      各社の料金プラン詳細
    </p>
    <p class='explanation2'>
      を見てみる
    </p>
  </div>
  <div class='history-btn'>
    <p class='history1'>
      シュミレーション履歴
    </p>
    <p class='history2'>
      を見てみる
    </p>
  </div>
</div>