.page-header {
  border: solid;
  height: 10vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black;
}

.simulation-icon {
  width: 20vw;
  height: 10vh;
  margin: auto;
}

.lists-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login {
  margin: 0 10px 0 10px;
}

.sign-up {
  margin: 0 10px 0 10px;
}

.user-nickname {
  margin: 0 10px 0 10px;
}

.logout {
  margin: 0 10px 0 10px;
}