body { 
  background-image: image-url("wallpaper.jpg");
  background-size: cover;
}

.contents {
  height: 100vh;
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.service-title-main {
  font-size: 8vh;
}

.service-title-sub {
  font-size: 3vh;
}

.main {
  width: 40vw;
}

.main-contents {
  padding: 10px 0;
  position: relative;
}

.phone-hands {
  height: 115vh;
}

.simulation-btn {
  position: absolute;
  top: 8vh;
  left: 7vw;
  width: 32.2vh;
  height: 32.2vh;
  border: 3px blanchedalmond;
  border-radius: 48px;
}

.history-btn {
  position: absolute;
  top: 50.5vh;
  left: 7vw;
  width: 32.2vh;
  height: 32.2vh;
  border: 3px blanchedalmond;
  border-radius: 48px;
}


