.contents {
  height: 80vh;
}

.title-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-explain {
  margin: 20px auto 20px auto;
}

.main-contents {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  padding: 10px 0;
}

.simulation-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2px solid gray;
  border-radius: 8px;
  width: 30vw;
  background: linear-gradient(to bottom right, rgb(229, 153, 223), rgb(255, 255, 255));
}

.explanation-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2px solid gray;
  border-radius: 8px;
  width: 30vw;
  background: linear-gradient(to bottom right, rgb(229, 235, 154), rgb(255, 255, 255));
}

.history-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2px solid gray;
  border-radius: 8px;
  width: 30vw;
  background: linear-gradient(to bottom right, rgb(180, 235, 173), rgb(255, 255, 255));
}

.simulation1 {
  font-size: 40px;
  text-align: center;
  margin: auto auto 0 auto;
}

.simulation2 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto auto auto;
}

.explanation1 {
  font-size: 40px;
  text-align: center;
  margin: auto auto 0 auto;
}

.explanation2 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto auto auto;
}

.history1 {
  font-size: 40px;
  text-align: center;
  margin: auto auto 0 auto;
}

.history2 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto auto auto;
}