.simulation-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.simulation {
  height: 75vh;
  width: 45vw;
  border: solid 1px;
  overflow: scroll;
}

.simulation-title {
  font-size: 30px;
  margin: 0 20px 0 20px;
  border-bottom: solid 1px;
}

.simulation-explanation {
  margin: 0 20px 0 20px;
}

.simulation-question {
  margin: 0 20px 0 20px;
}

.result {
  height: 75vh;
  width: 45vw;
  border: solid 1px;
}