
.simulation-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.simulation {
  position: relative;
  width: 30vw;
  padding: 10px 0;
}

.iphone7 {
  height: 100vh;
  width: 27vw;
  margin-left: 1vw;
}

.simulation-box {
  height: 74vh;
  width: 22.7vw;
  top: 14vh;
  left: 3.15vw;
  border: solid 1px;
  overflow: scroll;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.simulation-title {
  font-size: 30px;
  margin: 0 20px 0 20px;
  border-bottom: solid 1px;
  text-align: center;
  font-weight: bold;
}

.simulation-explanation {
  margin: 0 20px 0 20px;
}

.simulation-question {
  margin: 0 20px 0 20px;
}

.weight-bold-text {
  font-size: 20px;
}

.arrow-icon {
  width: 5vw;
  height: 10vh;
}

.result {
  height: 95vh;
  width: 70vw;
  border: solid 1px;
  padding: 10px 0;
}

.result-title {
  font-size: 50px;
  text-align: center;
}

.result-table {
  margin: 10px 10px 10px 10px;
  overflow-x: scroll;
}

table {
  width: 2600px;
}

th {
  width: 200px;
  height: 100px;
  vertical-align: middle;
  padding: 0 15px;
  border: 1px solid #ccc;
  text-align: center;
}

td {
  width: 200px;
  height: 100px;
  vertical-align: middle;
  padding: 0 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.line1,.column1,.column2,.column3 {
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  background: #333;
  &:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
}

.line2,.line3,.line4,.line5 {
  color: #333;
  background: #fff;
}

.column2 {
  position: sticky;
  top: 0;
  left: 200px;
}

.column3 {
  position: sticky;
  top: 0;
  left: 400px;
}

.line1 {
  z-index: 1;
}

.column1,.column2,.column3 {
  z-index: 2;
}

.select-box {
  width: 20vw;
}